.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.app-icon {
  width: 100;
  height: 100;
}
.app-icon-container {
  padding: 10;
}
.navbar-right {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  /* align-items: center; */
  padding: 40px 10px;
  font-size: 20px;
}
.card-container :hover {
  transform: scale(1.05);
}
.card-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.restroCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  gap: 4px;
  border-radius: 5px;
}

.restroCard-img {
  height: 200px;
  width: 200px;
}
.restroCard h2,
h3,
h4 {
  margin: 4px;
  /* padding: 0; */
}
